#block-2{
    display: flex;
    /* border: 1px solid red; */
}
#navbar{
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-evenly; */
}
#search_input{
     height: 40px;
     width: 80%;
     border-radius: 15px;
     margin-top: 20px;
     margin-left: 20px;
 }
 #sidebar{
     height: 300px; 
     width: 20%;
     /* border: 1px solid rgb(10, 6, 6); */
 }
 #sidebar a:hover{
     cursor: pointer;
 }