#results{
    width: 80%;
    height: 100%;
    margin-left: 50px;
}
div>img{
    height: 100%;
    width: 30%;
}

#results >div{
    display: flex;
    border: 1px solid rgb(37, 23, 163);
}
#results >div >img{
    height: 250px;
    margin-top:20px;
}

#results >div >h3{
    text-align: center;
    margin-left:50px
}